:root {
  --text-1: #444;
  --text-2: #666;
  --backfround-1: #fff;
  --backfround-2: #eee;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: #9e59aa;
  border-radius: .5rem;
  cursor: pointer;
}

.btn:hover {
  letter-spacing: .2rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #9e59aa;
}

body.active {
  --text-1: rgb(255, 255, 255);
  --text-2: #eee;
  --backfround-1: #333;
  --backfround-2: #222;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.4);
}

body {
  background: #eee;
  background: var(--backfround-2);
}

body .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  background: var(--backfround-1);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 1.5rem 7%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  font-family: monospace;
  color: #444;
  color: var(--text-1);
}

body .header .logo i {
  color: #9e59aa;
}

body .header .search-form {
  background: #eee;
  background: var(--backfround-2);
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.5rem;
  width: 50rem;
}

body .header .search-form input {
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.5rem;
  color: #444;
  color: var(--text-1);
  padding: 1rem;
}

body .header .search-form label {
  font-size: 2rem;
  margin-right: 1.5rem;
  color: #444;
  color: var(--text-1);
  cursor: pointer;
}

body .header .search-form label:hover {
  color: #9e59aa;
}

body .header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  border-radius: .5rem;
  margin-left: .5rem;
  background: #eee;
  background: var(--backfround-2);
  color: var(--text-1);
  color: #444;
  text-align: center;
  cursor: pointer;
}

body .header .icons div:hover {
  background: #9e59aa;
}

body .header .icons #search-btn {
  display: none;
}

body .header .navbar {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  background: var(--backfround-1);
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  width: 25rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

body .header .navbar a {
  display: block;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: #444;
  color: var(--text-1);
  border-radius: .5rem;
}

body .header .navbar a:hover {
  color: #9e59aa;
  background: #eee;
  background: var(--backfround-2);
  padding-left: 2rem;
}

body .header .navbar.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

body .header .login-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  background: var(--backfround-1);
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  width: 35rem;
  padding: 2rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

body .header .login-form .inputBox {
  margin-bottom: 1rem;
}

body .header .login-form .inputBox span {
  font-size: 1.7rem;
  color: var(--text-2);
}

body .header .login-form .inputBox input {
  font-size: 1.5rem;
  color: #444;
  color: var(--text-1);
  border-radius: .5rem;
  padding: 1rem;
  background: #eee;
  background: var(--backfround-2);
  width: 100%;
  text-transform: none;
  margin: .5rem 0;
}

body .header .login-form .remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  padding: .5rem 0;
}

body .header .login-form .remember label {
  color: #666;
  color: var(--text-2);
  font-size: 1.5rem;
  cursor: pointer;
}

body .header .login-form .btn {
  width: 100%;
}

body .header .login-form.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

body section {
  padding: 2rem 7%;
}

body .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 7rem;
}

body .home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
}

body .home .image img {
  width: 100%;
}

body .home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
}

body .home .content h3 {
  color: var(--text-1);
  font-size: 4rem;
}

body .home .content p {
  color: var(--text-2);
  font-size: 1.7rem;
  line-height: 1.7;
  padding: 1rem 0;
}

body .form-container form {
  background: var(--backfround-1);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border-radius: .5rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

body .form-container form .inputBox {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 23rem;
          flex: 1 1 23rem;
}

body .form-container form .inputBox span {
  font-size: 1.7rem;
  color: var(--text-2);
}

body .form-container form .inputBox input {
  font-size: 1.5rem;
  color: var(--text-1);
  background: var(--backfround-2);
  border-radius: .5rem;
  margin: .5rem 0;
  text-transform: none;
  width: 100%;
  padding: 1rem;
}

body .form-container form .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 23rem;
          flex: 1 1 23rem;
}

body .heading {
  text-align: center;
  padding-bottom: 2rem;
  color: var(--text-1);
  font-size: 4rem;
}

body .heading::first-letter {
  color: #9e59aa;
  font-size: 6rem;
}

body .packages .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

body .packages .box-container .box {
  background: var(--backfround-1);
  border-radius: .5rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

body .packages .box-container .box .image {
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  position: relative;
}

body .packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5rem;
}

body .packages .box-container .box .image h3 {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  font-size: 2rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: .5rem;
  font-weight: lighter;
  padding: .5rem 1.5rem;
}

body .packages .box-container .box .image h3 i {
  color: #9e59aa;
}

body .packages .box-container .box .content {
  padding: 1.5rem;
  padding-top: 0;
}

body .packages .box-container .box .content .price {
  font-weight: 600;
  color: var(--text-1);
  font-size: 2.5rem;
}

body .packages .box-container .box .content .price span {
  font-weight: lighter;
  color: var(--text-2);
  font-size: 1.5rem;
  text-decoration: line-through;
}

body .packages .box-container .box .content p {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: var(--text-2);
  line-height: 1.7;
}

body .services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

body .services .box-container .box {
  background: var(--backfround-1);
  border-radius: .5rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  position: relative;
  padding: 2rem;
}

body .services .box-container .box span {
  position: absolute;
  top: .5rem;
  right: 2rem;
  color: #666;
  font-weight: bolder;
  font-size: 5rem;
}

body .services .box-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
  background: #9e59aa;
  border-radius: 50%;
  margin-bottom: .5rem;
}

body .services .box-container .box h3 {
  color: var(--text-1);
  font-size: 2.3rem;
  padding: .7rem 0;
}

body .services .box-container .box p {
  color: var(--text-2);
  font-size: 1.5rem;
  line-height: 1.8;
}

body .pricing .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

body .pricing .box-container .box {
  background: var(--backfround-1);
  border-radius: .5rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
}

body .pricing .box-container .box h3 {
  padding: 1rem;
  background: var(--backfround-2);
  border-radius: .5rem;
  font-size: 2rem;
  color: var(--text-2);
}

body .pricing .box-container .box .price {
  padding-top: 2rem;
}

body .pricing .box-container .box .price span {
  font-size: 2rem;
  color: var(--text-2);
}

body .pricing .box-container .box .price .amount {
  font-size: 5rem;
  color: var(--text-1);
  font-weight: bolder;
}

body .pricing .box-container .box ul {
  padding: .5rem 0;
  list-style: none;
}

body .pricing .box-container .box ul li {
  padding: 1rem 0;
  font-size: 1.7rem;
  color: var(--text-2);
}

body .review .review-slider {
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

body .review .review-slider .slide {
  background: var(--backfround-1);
  border-radius: .5rem;
  text-align: center;
  padding: 3rem;
}

body .review .review-slider .slide img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: .5rem;
}

body .review .review-slider .slide h3 {
  font-size: 2.5rem;
  color: var(--text-1);
}

body .review .review-slider .slide p {
  font-size: 1.6rem;
  color: var(--text-2);
  line-height: 1.7;
  padding: 1rem 0;
}

body .review .review-slider .slide .stars {
  padding: 1rem 0;
  padding-bottom: 1.5rem;
}

body .review .review-slider .slide .stars i {
  font-size: 2rem;
  color: #9e59aa;
}

body .contact form {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

body .contact form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .contact form .inputBox input {
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--text-1);
  margin: .7rem 0;
  background: var(--backfround-1);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  text-transform: none;
  border-radius: .5rem;
  width: 49%;
}

body .contact form textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--text-1);
  margin: .7rem 0;
  background: var(--backfround-1);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  text-transform: none;
  border-radius: .5rem;
  height: 20rem;
  resize: none;
}

body .blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

body .blogs .box-container .box {
  background: var(--backfround-1);
  border-radius: .5rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 2rem;
}

body .blogs .box-container .box .image {
  height: 20rem;
  width: 100%;
  overflow: hidden;
  border-radius: .5rem;
  background: var(--backfround-2);
}

body .blogs .box-container .box .image img {
  width: 100%;
  height: 100%;
}

body .blogs .box-container .box .image img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .blogs .box-container .box .content {
  padding-top: 1rem;
}

body .blogs .box-container .box .content h3 {
  font-size: 2rem;
  color: var(--text-1);
  line-height: 1.5;
}

body .blogs .box-container .box .content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 0.1rem solid var(--text-2);
  margin-top: 2rem;
  padding-top: 1.5rem;
}

body .blogs .box-container .box .content .icons a {
  font-size: 1.5rem;
  color: var(--text-2);
}

body .blogs .box-container .box .content .icons a:hover {
  color: #9e59aa;
}

body .blogs .box-container .box .content .icons a i {
  padding: .5rem;
  color: #9e59aa;
}

body .footer {
  background: var(--backfround-2);
}

body .footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.8rem;
}

body .footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--text-1);
  padding: 1rem 0;
}

body .footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  color: var(--text-2);
  padding: 1rem 0;
}

body .footer .box-container .box a i {
  padding: .5rem;
  color: #9e59aa;
}

body .footer .box-container .box a i:hover {
  padding-right: 2rem;
}

body .footer .credit {
  font-size: 2rem;
  text-align: center;
  border-top: 0.1rem solid var(--text-2);
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  color: var(--text-1);
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    right: 2rem;
  }
  .login-form {
    right: 2rem;
  }
  #search-btn {
    display: inline-block;
  }
  #search-btn .active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .search-form {
    right: 3.5rem;
    position: absolute;
    top: 115%;
    background: #fff;
    border-radius: .5rem;
    width: 90%;
    -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  body .contact form .inputBox input {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */